<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <span> <%= link_to 'Post', root_path, class: 'nav-link' %> </span>
      <span> <%= link_to 'Logar', new_user_session_path, class: 'nav-link' %> </span>
      <span> <%= link_to 'Registrar', new_user_registration_path, class: 'nav-link' %> </span>
    </nav>
  </div>
</div>