<div class="col-sm-8 blog-main text-justify">
  <h1 class="text-center"> Posts </h1>
  <div class="text-center">
    <% if current_user %>
      <%= link_to 'Fazer nova postagem', new_post_path, class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
  <hr>
  <%= render @posts %>
  
</div>